<a href="https://colab.research.google.com/github/jyotisatihal/Python_for_ML/blob/main/3_Python_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Arithmetic operators**

In [ ]:
x=12
y=4
sum=x+y
diff=x-y
prod=x*y
div=x/y#gives float value
fdiv=x//y#gives integer value
mod=x%y
power=x**y
print(sum)
print(diff)
print(prod)
print(div)
print(fdiv)
print(mod)
print(power)

16
8
48
3.0
3
0
20736

In [ ]:
age=int(input("enter the age"))
print(age>18 and age<50)
print(age>18 or age<21)
print(age!=19)
print(age>=20)
print(age<=25)

enter the age30
True
True
True
True
False

Bitwise operators

In [ ]:
print(8 &12)#and
print(8|12)#or
print(0xF & 0XE)
print(0XF | 0XE)
print(8^12)#exor
print(0xF ^ 0xE)

8
12
14
15
4
1

In [ ]:
print(8>>1)#rs
print(8>>2)
print(8>>3)
print(8>>4)
print(8>>5)

print(8<<1)#ls
print(8<<2)
print(8<<3)
print(8<<4)

4
2
1
0
0
16
32
64
128

In [ ]:
#assignment operators

a=5
print(a)
a+=2
print(a)
a-=3
print(a)
a*=2
print(a)
a/=4
print(a)
a%=2
print(a)
a=10
print(a)
a//=3
print(a)
a**=2
print(a)
a&=1
print(a)
a|=4
print(a)
a>>=1
print(a)
a<<=1
print(a)

5
7
4
8
2.0
0.0
10
3
9
1
5
2
4

In [ ]:
x={"hubli","blore"}
y={"hubli","blore"}
z=x
z=y
print(z is not x)
print(y is x)
print(y is z)
print("hubli" in x)

True
False
True
True

WHILE LOOP

In [ ]:
num=int(input("enter num"))
while num<=9:
 print("num is single digit")
 break
while num>9 and num<=99:
 print("num is double digit")
 break
else:
 print("num has more than two digits")

enter num88
num is double digit

**FOR LOOP**

In [ ]:
for x in range(1,20,3):
  print(x)

1
4
7
10
13
16
19

In [ ]:
for x in range(5,9):
  print("single digit num")
for x in range(0,99,10):
  print("double digit num")

single digit num
single digit num
single digit num
single digit num
double digit num
double digit num
double digit num
double digit num
double digit num
double digit num
double digit num
double digit num
double digit num
double digit num

In [ ]:
places=["hubli","haveri","goa","blore"]
for x in places:
  print(x)
  if x =="goa":
    print("found")
    break

hubli
haveri
goa
found